<p id="notice"><%= notice %></p>

<h1>メニュー</h1>

  <div><%= link_to '家計簿をつける', new_household_path %></div>
  <div><%= link_to '家計簿を見る', households_path %></div>
  <div><%= link_to '分類一覧', categories_path %></div>
  <div><%= link_to 'ユーザー一覧', users_path %></div>
